<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='aplicacion.modelo.dao.mappers.AccidentesMapper'>

	<resultMap type='AccidentesPorTipoEnDistrito' id='AccidentesPorTipoEnDistritoResult'>
		<result property='distrito' column='distrito' />
		<result property='tipo' column='tipo' />
		<result property='cantidad' column='cantidad' />
	</resultMap>

<!-- 	<insert id='registrarValidacion' parameterType='map' useGeneratedKeys='true' keyProperty='id'> -->
<!-- 		INSERT INTO altas_bajas (correo,nombre,tipoAccion,fecha) -->
<!-- 		VALUES(#{correo},#{nombre},#{tipoAccion},#{fecha}) -->
<!-- 	</insert> -->
	
	
	
	<select id='getAccidentesPorTipoEnDistrito' resultMap='AccidentesPorTipoEnDistritoResult'>
		SELECT
			DISTRITOS.NOMBRE as distrito,
    		TIPOS_ACCIDENTE.NOMBRE as tipo,
    		COUNT(TIPOS_ACCIDENTE.NOMBRE) as cantidad
		FROM
			ACCIDENTES,DISTRITOS,TIPOS_ACCIDENTE
		WHERE
			ACCIDENTES.ID_DISTRITO = DISTRITOS.ID AND 
			ACCIDENTES.ID_TIPO_ACCIDENTE = TIPOS_ACCIDENTE.ID AND
    		ACCIDENTES.FECHA >= #{fIni} AND
    		ACCIDENTES.FECHA &lt;= #{fFin}
		GROUP BY DISTRITOS.NOMBRE,TIPOS_ACCIDENTE.NOMBRE
		ORDER BY DISTRITOS.NOMBRE
	</select>
	
<!-- 	<select id='getJugador' resultType="Jugador"> -->
<!-- 		SELECT * FROM Jugadores WHERE id = #{idJugador} -->
<!-- 	</select> -->
	
<!-- 	<delete id="borrar"> -->
<!-- 		DELETE from Jugadores WHERE id = #{idJugador} -->
<!-- 	</delete> -->
	
<!-- 	<insert id="insert" parameterType="Jugador"> -->
<!-- 		INSERT INTO Jugadores (nombre,foto) VALUES (#{nombre},#{foto}) -->
<!-- 	</insert> -->
	
<!-- 	<update id="update" parameterType="Jugador"> -->
<!-- 		UPDATE Jugadores SET nombre = #{nombre}, foto = #{foto} WHERE id = #{id} -->
<!-- 	</update> -->
</mapper>