<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='aplicacion.modelo.dao.mappers.AccidentesMapper'>

	<resultMap type='AccidentesPorTipoEnDistrito' id='AccidentesPorTipoEnDistritoResult'>
		<result property='distrito' column='distrito' />
		<result property='tipo' column='tipo' />
		<result property='cantidad' column='cantidad' />
	</resultMap>
	
	<resultMap type='AccidentesPorSexoYVehiculoEnDistrito' id='AccidentesPorSexoYVehiculoEnDistritoResult'>
		<result property='vehiculo' column='vehiculo' />
		<result property='sexo' column='sexo' />
		<result property='cantidad' column='cantidad' />
	</resultMap>
	
	<resultMap type="AccidenteConDistrito" id="AccidentesConDistritosResult">
		<id property="id" column="id"/>
		<result property="fecha" column="fecha"/>
		<result property="hora" column="hora"/>
		<result property="expediente" column="expediente"/>
		<result property="distrito" column="distrito"/>
	</resultMap>

	<resultMap type="Accidente" id="AccidentesResult">
		<id property="id" column="ID"/>
		<result property="expediente" column="EXPEDIENTE"/>
		<result property="fecha" column="FECHA"/>
		<result property="hora" column="HORA"/>
		<result property="direccion" column="DIRECCION"/>
		<result property="id_distrito" column="ID_DISTRITO"/>
		<result property="id_tipo_accidente" column="ID_TIPO_ACCIDENTE"/>
		<result property="id_tipo_vehiculo" column="ID_TIPO_VEHICULO"/>
		<result property="id_sexo" column="ID_SEXO"/>
	</resultMap>
	
	<select id='getAccidentesPorTipoEnDistrito' resultMap='AccidentesPorTipoEnDistritoResult'>
		SELECT
			DISTRITOS.NOMBRE as distrito,
    		TIPOS_ACCIDENTE.NOMBRE as tipo,
    		COUNT(TIPOS_ACCIDENTE.NOMBRE) as cantidad
		FROM
			ACCIDENTES,DISTRITOS,TIPOS_ACCIDENTE
		WHERE
			ACCIDENTES.ID_DISTRITO = DISTRITOS.ID AND 
			ACCIDENTES.ID_TIPO_ACCIDENTE = TIPOS_ACCIDENTE.ID AND
    		ACCIDENTES.FECHA >= #{fIni} AND
    		ACCIDENTES.FECHA &lt;= #{fFin}
		GROUP BY DISTRITOS.NOMBRE,TIPOS_ACCIDENTE.NOMBRE
		ORDER BY DISTRITOS.NOMBRE
	</select>
	
	<select id="getAccidentesPorSexoYVehiculoEnDistrito" resultMap="AccidentesPorSexoYVehiculoEnDistritoResult">
		SELECT
			TIPOS_SEXO.NOMBRE as sexo,
			TIPOS_VEHICULO.NOMBRE as vehiculo,
    		COUNT(TIPOS_SEXO.NOMBRE) as cantidad
		FROM
			DISTRITOS,ACCIDENTES,TIPOS_SEXO,TIPOS_VEHICULO
		WHERE
			ACCIDENTES.ID_SEXO = TIPOS_SEXO.ID AND
    		ACCIDENTES.ID_TIPO_VEHICULO = TIPOS_VEHICULO.ID AND
    		ACCIDENTES.ID_DISTRITO = DISTRITOS.ID AND
    		DISTRITOS.NOMBRE = #{distrito} AND
    		ACCIDENTES.FECHA >= #{fIni} AND
    		ACCIDENTES.FECHA &lt;= #{fFin}
		GROUP BY DISTRITOS.NOMBRE,TIPOS_VEHICULO.NOMBRE,TIPOS_SEXO.NOMBRE
		ORDER BY TIPOS_SEXO.NOMBRE, TIPOS_VEHICULO.NOMBRE;
	</select>
	
	<select id="getAccidentesConDistritos" resultMap="AccidentesConDistritosResult">
		SELECT
			ACCIDENTES.ID as id,
			ACCIDENTES.FECHA as fecha,
			ACCIDENTES.HORA as hora,
			ACCIDENTES.EXPEDIENTE as expediente,
			DISTRITOS.NOMBRE as distrito
		FROM
			ACCIDENTES,DISTRITOS
		WHERE
			ACCIDENTES.ID_DISTRITO = DISTRITOS.ID
	</select>
	
	<select id="getAccidente" resultType="Accidente">
		SELECT * FROM ACCIDENTES WHERE ID = #{id}
	</select>
	
	<update id="updateAccidente" parameterType="Accidente">
		UPDATE
			ACCIDENTES
		SET
			EXPEDIENTE = #{expediente},
			FECHA = #{fecha},
			HORA = #{hora},
			DIRECCION = #{direccion},
			ID_DISTRITO = #{id_distrito},
			ID_TIPO_ACCIDENTE = #{id_tipo_accidente},
			ID_TIPO_VEHICULO = #{id_tipo_vehiculo},
			ID_SEXO = #{id_sexo}
		WHERE
			ID = #{id}
	</update>
	
	<delete id="borrarAccidente">
		DELETE FROM ACCIDENTES WHERE ID = #{id}
	</delete>
	
	<insert id="insertAccidente" useGeneratedKeys="true" keyProperty="ID" parameterType="Accidente">
		INSERT INTO ACCIDENTES
			(EXPEDIENTE,FECHA,HORA,DIRECCION,ID_DISTRITO,ID_TIPO_ACCIDENTE,ID_TIPO_VEHICULO,ID_SEXO) 
		VALUES
			(#{expediente},#{fecha},#{hora},#{direccion},#{id_distrito},#{id_tipo_accidente},#{id_tipo_vehiculo},#{id_sexo})
	</insert>
	
</mapper>