<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='aplicacion.modelo.dao.mappers.AgentesMapper'>
		
	<resultMap type='Agente' id='AgentesResult'>
		<id property='numero_placa' column='NUMERO_PLACA' />
		<result property='rango' column='RANGO' />
		<result property='clave' column='CLAVE' />
		<result property='nombre' column='NOMBRE' />
		<result property='apellidos' column='APELLIDOS' />
		<result property='id_distrito' column='ID_DISTRITO' />
	</resultMap>
	
	<select id='getAgente' resultType="Agente">
		SELECT * FROM AGENTE WHERE NUMERO_PLACA = #{placa} AND CLAVE = #{clave}
	</select>

</mapper>