<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='aplicacion.modelo.dao.mappers.TiposAccidentesMapper'>

	<resultMap type='TiposAccidente' id='TiposAccidentesResult'>
		<id property='id' column='ID' />
		<result property='nombre' column='NOMBRE' />
	</resultMap>

	<select id="getTiposAccidentes" resultMap="TiposAccidentesResult">
		SELECT * FROM TIPOS_ACCIDENTE
	</select>
	
</mapper>