<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<properties resource='jdbc.properties' />
	<typeAliases>
		<typeAlias type='aplicacion.modelo.pojo.AccidentesPorTipoEnDistrito' alias='AccidentesPorTipoEnDistrito'></typeAlias>
		<typeAlias type='aplicacion.modelo.pojo.AccidentesPorSexoYVehiculoEnDistrito' alias='AccidentesPorSexoYVehiculoEnDistrito'></typeAlias>
		<typeAlias type='aplicacion.modelo.pojo.Agente' alias='Agente'></typeAlias>
		<typeAlias type='aplicacion.modelo.pojo.AccidenteConDistrito' alias='AccidenteConDistrito'></typeAlias>
		<typeAlias type='aplicacion.modelo.pojo.Distrito' alias='Distrito'></typeAlias>
		<typeAlias type='aplicacion.modelo.pojo.TiposAccidente' alias='TiposAccidente'></typeAlias>
		<typeAlias type='aplicacion.modelo.pojo.TiposSexo' alias='TiposSexo'></typeAlias>
		<typeAlias type='aplicacion.modelo.pojo.TiposVehiculo' alias='TiposVehiculo'></typeAlias>
	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource='aplicacion/modelo/dao/mappers/AccidentesMapper.xml' />
		<mapper resource='aplicacion/modelo/dao/mappers/AgentesMapper.xml' />
		<mapper resource='aplicacion/modelo/dao/mappers/DistritosMapper.xml' />
		<mapper resource='aplicacion/modelo/dao/mappers/TiposAccidentesMapper.xml' />
		<mapper resource='aplicacion/modelo/dao/mappers/TiposSexosMapper.xml' />
		<mapper resource='aplicacion/modelo/dao/mappers/TiposVehiculosMapper.xml' />
	</mappers>
</configuration>